<div>
<!-- button type button click= displaytext()  [innerhtml]=" show ? hide details: display details" > {{show hide details: display details}}<-->
<button type="button" class="form-control" (click)="show=!show; pushArr()" > {{ show ? 'hide' : 'show'}} Hide Details</button>
<p *ngIf="show">here i am now!! click me and see me disapear.</p>

<!-- use to  -->
<p *ngFor="let arr of arrs; index as i;" [ngClass]="{'background-green': i >= 9}" [ngStyle]="{'color': i >= 9 ? 'white': 'black'}">
this {{arr.time }} {{arr.state}} {{i}}
</p>



</div>
